body {
    margin: 0px;
    height: 100vh;
    font-family: 'Space Grotest', monospace;
}
canvas {
    display: block;
}

.boxes {
    position: absolute; 
    display:block; 
    left:0; 
    top:0; 
}

.filterbox {
    width: 200px; 
    border-radius: 10px;
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
    font-weight: 600;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: white;
}

.dropdownbutton {
    position: absolute;
    display: block;
    top:1em;
    right: 1em;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: white;
    font-weight: 300;
    padding: .2em;
    cursor: pointer;
}

.legend-span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-bottom: 2px;
    border-radius: 50%;
}