html {
  background-color: black;
}

body {
    margin: 0px;
    height: 100vh;
    font-family: 'Space Mono', monospace;
}
canvas {
    display: block;
}

.boxescontainer {
  position: absolute;
  position: absolute; 
  left:0; 
  top:0; 
  max-width: 100vw;
  display: block;
  opacity: 0;
  white-space: nowrap;
  transition: all .25s;
  z-index: -1;
}

.boxescontainer.open {
    opacity: 1;
    z-index: 999;
}

.boxes {
    position: relative;
    padding-top: 1em;
    padding: 1em;
    margin-top: 4em;
}

.filterbox {
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    font-weight: 600;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: white;
}
.filterbox #slider {
 	width: 100%;
}
.dropdownbutton {
    position: absolute;
    display: block;
    top:1em;
    right: 1em;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: white;
    font-weight: 300;
    padding: .2em;
    cursor: pointer;
}

.shallow-span {
		background-color:#F63E02 ;
}
.deep-span {
		background-color: #7c5da3;
}
.ai-span {
		background-color: #41969F;
}
.legend-span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
    border-radius: 50%;
	transition: 100ms ease-in;
	cursor: pointer;
}
.legend-span:hover {
	transform: scale(1.3);
}
.legend-p {
		user-select: none;
}

.legend-p {
  transition: .25s all;
  user-select: none;
  cursor: pointer;
}

.legend-p:hover .legend-span {
	transform: scale(1.3);
}

.legend-p:active {
  transform: scale(.9);
}

.legend-p.legend-selected .legend-span {
		background-color: #ccc; 
}
.infocontainer {
  position: fixed;
  width: auto;
  top: 1em;
  right: 1em;
}

.menubutton {
    position: absolute;
    z-index: 1000;
    top:1em;
    left: 1em;
    padding: .7em 1em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: white;
    cursor: pointer;
    transition: .25s all;
}

.menubutton:hover {
    border-color: #fff;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2.5px;
    background-color: #fff;
    margin: 1px 0;
    transition: 0.4s;
  }

  .bar2 {
    background-color: transparent;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 3.2px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -3.2px) rotate(45deg);
  }

.logo {
  bottom: 0;
  right: 0;
  position: fixed;
  pointer-events: none;
}
.logo img {
  width: 80px;
  height: 80px;
}

  @media screen and (max-width: 768px) {
    .menubutton {
      left: auto;
      right: 1em;
    }
    .boxescontainer {
        width: 100vw;
    }

    .infocontainer {
      top: auto;
      left: 1em;
      bottom: .5em;
    }

    .infocontainer h3, .infocontainer h5 {
      font-size: 80%;
      margin: 0;
    }

    .info {
      max-width: 100vw;
      padding: 1em;
    }

    .info p {
      font-size: 80%;
    }
    .info br {
      display: none;
    }

    .info #yearp, .info #latp, .info #longp, .info #typep, .info #magnitudep {
      display: inline-block;
      margin: 0;
    }
    .info h5 {
      font-size: 70%;
    }
    .logo {
      bottom: auto;
      right: auto;
      top: 0;
      left: 0;
    }
    

  }
